#add-facility-participant-modal .title{
    margin-bottom: 20px;
}
#add-facility-participant-modal input, #add-facility-participant-modal select{
    margin-top: 30px;
}
#add-facility-participant-modal .top-section, #add-facility-participant-modal .bottom-section{
    display: flex;
    flex-wrap: wrap;
}
#add-facility-participant-modal .top-section{
    padding-bottom: 40px;
    border-bottom: 1px solid #bfc7d9;
}
#add-facility-participant-modal .bottom-section{
    padding-top: 20px;
}
#add-facility-participant-modal .input-container, #add-facility-participant-modal .select-container{
    width: calc(50% - 30px);
    margin-right: 30px;
}
#add-facility-participant-modal .input-container .label, #add-facility-participant-modal .select-container .label{
    top: 23px;
}