#return-team-to-ladder-modal .error{
    font-size: 18px;
}
#return-team-to-ladder-modal .column1{
    width: 60%;
}
#return-team-to-ladder-modal .column2{
    width: 40%;
    text-align: right;
}
#return-team-to-ladder-modal .column2 button{
    height: 40px;
    width: 155px;
    padding: 0px 0px;
}
#return-team-to-ladder-modal {
    padding-top: 20px;
}
#return-team-to-ladder-modal table{
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    border-spacing: 8px 8px;
}
#return-team-to-ladder-modal table th{
    text-align: left;
}
#return-team-to-ladder-modal label{
    font-weight: bold;
    padding-top: 20px;
}
#return-team-to-ladder-modal .status{
    font-weight: bold;
}
