<form id="forgot-password-form" ng-controller="forgotPasswordController" ng-submit="sendEmail()">
    <img class="logo" src="../images/logowhite.png">
    <h3>
        Send Password Reset E-Mail
    </h3>
    <div>
        <div class="input-container">
            <input id="reset-username" type="text" placeholder="ENTER USERNAME" ng-model="username">
            <span class="label">
                ENTER USERNAME
            </span>
        </div>
        <div class="error" ng-show="errors.username">
            Required
        </div>
        <div class="buttons">
            <button ng-class="{'disabled': sendEmailInProgress}" type="submit" ng-disabled="sendEmailInProgress">
                SUBMIT
            </button>
        </div>
    </div>
</form>