<section id="modal" ng-controller="modalsController" ng-class="{'large-size': largeSizeModal}">
    <dashboard-image-modal ng-if="showModalView.changeImage"></dashboard-image-modal>
    <create-event-modal ng-if="showModalView.createEvent"></create-event-modal>
    <create-event-rules-modal ng-if="showModalView.createEventRules"></create-event-rules-modal>
    <view-event-rules-modal ng-if="showModalView.viewEventRules"></view-event-rules-modal>
    <create-facility-modal ng-if="showModalView.createFacility"></create-facility-modal>
    <add-facility-leader-modal ng-if="showModalView.addFacilityLeader"></add-facility-leader-modal>
    <delete-facility-leader-modal ng-if="showModalView.deleteFacilityLeader"></delete-facility-leader-modal>
    <add-event-leader-modal ng-if="showModalView.addEventLeader"></add-event-leader-modal>
    <add-captain-multi-modal ng-if="showModalView.addCaptainMulti"></add-captain-multi-modal>
    <add-event-team-to-ladder-modal ng-if="showModalView.addEventTeamToLadder"></add-event-team-to-ladder-modal>
    <edit-ladder-start-date-modal ng-if="showModalView.editLadderStartDate"></edit-ladder-start-date-modal>
    <edit-ladder-settings-modal ng-if="showModalView.editLadderSettings"></edit-ladder-settings-modal>
    <withdraw-event-team-from-ladder-modal ng-if="showModalView.withdrawEventTeamFromLadder"></withdraw-event-team-from-ladder-modal>
    <return-team-to-ladder-modal ng-if="showModalView.returnTeamToLadder"></return-team-to-ladder-modal>
    <playing-surfaces-modal ng-if="showModalView.playingSurfaces"></playing-surfaces-modal>
    <withdraw-event-participant-from-ladder-modal ng-if="showModalView.withdrawEventParticipantFromLadder"></withdraw-event-participant-from-ladder-modal>
    <add-event-challenge-ladder-modal ng-if="showModalView.addEventChallengeLadder"></add-event-challenge-ladder-modal>
    <reset-event-challenge-ladder-modal ng-if="showModalView.resetEventChallengeLadder"></reset-event-challenge-ladder-modal>
    <event-team-challenge-ladder-modal ng-if="showModalView.eventTeamChallengeLadder"></event-team-challenge-ladder-modal>
    <accept-challenge-ladder-modal ng-if="showModalView.acceptChallengeLadder"></accept-challenge-ladder-modal>
    <view-participants-ladder-modal ng-if="showModalView.viewParticipantsLadder"></view-participants-ladder-modal>
    <view-team-roster-multi-modal ng-if="showModalView.viewTeamRosterMulti"></view-team-roster-multi-modal>
    <edit-participant-contact-info-modal ng-if="showModalView.editParticipantContactInfo"></edit-participant-contact-info-modal>
    <view-ladder-rankings-modal ng-if="showModalView.viewLadderRankings"></view-ladder-rankings-modal>
    <edit-ladder-rankings-modal ng-if="showModalView.editLadderRankings"></edit-ladder-rankings-modal>
    <edit-ladder-results-modal ng-if="showModalView.editLadderResults"></edit-ladder-results-modal>
    <view-completed-ladder-results-modal ng-if="showModalView.viewCompletedLadderResults"></view-completed-ladder-results-modal>
    <view-open-challenges-ladder-modal ng-if="showModalView.viewOpenChallengesLadder"></view-open-challenges-ladder-modal>
    <withdraw-challenges-ladder-modal ng-if="showModalView.withdrawChallengesLadder"></withdraw-challenges-ladder-modal>
    <playing-surfaces-with-lines-modal ng-if="showModalView.playingSurfacesWithLines"></playing-surfaces-with-lines-modal>
    <event-results-modal ng-if="showModalView.eventResults"></event-results-modal>
    <delete-facility-modal ng-if="showModalView.deleteFacility"></delete-facility-modal>
    <activity-master-record-modal ng-if="showModalView.activityMasterRecord"></activity-master-record-modal>
    <upload-event-description-modal ng-if="showModalView.uploadEventDescription"></upload-event-description-modal>
    <upload-event-process-flow-modal ng-if="showModalView.uploadEventProcessFlow"></upload-event-process-flow-modal>
    <expiring-contracts-modal ng-if="showModalView.expiringContracts"></expiring-contracts-modal>
    <not-confirmed-participants-modal ng-if="showModalView.notConfirmedParticipants"></not-confirmed-participants-modal>
    <waitlisted-participants-modal ng-if="showModalView.waitlistedParticipants"></waitlisted-participants-modal>
    <close-event-modal ng-if="showModalView.closeEvent"></close-event-modal>
    <do-not-match-modal ng-if="showModalView.doNotMatch"></do-not-match-modal>
    <add-event-participant-modal ng-if="showModalView.addEventParticipant"></add-event-participant-modal>
    <import-participants-modal ng-if="showModalView.importParticipants"></import-participants-modal>
    <edit-event-modal ng-if="showModalView.editEvent"></edit-event-modal>
    <edit-facility-modal ng-if="showModalView.editFacility"></edit-facility-modal>
    <edit-activities-modal ng-if="showModalView.editActivities"></edit-activities-modal>
    <start-event-modal ng-if="showModalView.startEvent"></start-event-modal>
    <add-match-directions-modal ng-if="showModalView.addMatchDirections"></add-match-directions-modal>
    <edit-match-directions-modal ng-if="showModalView.editMatchDirections"></edit-match-directions-modal>
    <delete-match-directions-modal ng-if="showModalView.deleteMatchDirections"></delete-match-directions-modal>
    <update-match-schedule-modal ng-if="showModalView.updateMatchSchedule"></update-match-schedule-modal>
    <send-custom-email-modal ng-if="showModalView.sendCustomEmail"></send-custom-email-modal>
    <send-team-member-lineup-modal ng-if="showModalView.sendTeamMemberLineup"></send-team-member-lineup-modal>
    <send-individual-availability-modal ng-if="showModalView.sendIndividualAvailability"></send-individual-availability-modal>
    <view-match-schedule-modal ng-if="showModalView.viewMatchSchedule"></view-match-schedule-modal>
    <add-facility-participant-modal ng-if="showModalView.addFacilityParticipant"></add-facility-participant-modal>
    <print-scorecards-modal ng-if="showModalView.printScorecards"></print-scorecards-modal>
    <print-to-dos-modal ng-if="showModalView.printToDos"></print-to-dos-modal>
    <print-multi-scorecards-modal ng-if="showModalView.printMultiScorecards"></print-multi-scorecards-modal>
    <print-match-directions-modal ng-if="showModalView.printMatchDirections"></print-match-directions-modal>
    <print-participants-modal ng-if="showModalView.printParticipants"></print-participants-modal>
    <view-teams-by-group-number ng-if="showModalView.viewTeamsByGroupNumber"></view-teams-by-group-number>
    <edit-participant-modal ng-if="showModalView.editParticipant"></edit-participant-modal>
    <edit-start-times-modal ng-if="showModalView.editStartTimes"></edit-start-times-modal>
    <regenerate-lines-modal ng-if="showModalView.regenerateLines"></regenerate-lines-modal>
    <pick-facility-activities-modal ng-if="showModalView.pickFacilityActivities"></pick-facility-activities-modal>
    <download-participants-activities-modal ng-if="showModalView.downloadParticipantsActivities"></download-participants-activities-modal>
    <import-participants-activities-modal ng-if="showModalView.importParticipantsActivities"></import-participants-activities-modal>
    <export-participants-activities-modal ng-if="showModalView.exportParticipantsActivities"></export-participants-activities-modal>
    <open-time-slots-modal ng-if="showModalView.openTimeSlots"></open-time-slots-modal>
    <download-participants-import-modal ng-if="showModalView.downloadParticipantsImport"></download-participants-import-modal>
    <team-draw-modal ng-if="showModalView.teamDraw"></team-draw-modal>
    <import-team-participants-modal ng-if="showModalView.importTeamParticipants"></import-team-participants-modal>
    <export-participants-modal ng-if="showModalView.exportParticipants"></export-participants-modal>
    <per-round-lines-modal ng-if="showModalView.perRoundLines"></per-round-lines-modal>
    <match-line-times-modal ng-if="showModalView.matchLineTimes"></match-line-times-modal>
    <team-round-lineup-modal ng-if="showModalView.teamRoundLineup"></team-round-lineup-modal>
    <edit-round-dates-modal ng-if="showModalView.editRoundDates"></edit-round-dates-modal>
    <edit-captains-modal ng-if="showModalView.editCaptains"></edit-captains-modal>
    <add-waitlisted-participant-to-team-modal ng-if="showModalView.addWaitlistedParticipantToTeam"></add-waitlisted-participant-to-team-modal>
    <add-sub-availability-modal ng-if="showModalView.addSubAvailability"></add-sub-availability-modal>
    <add-sub-to-lineup-modal ng-if="showModalView.addSubToLineup"></add-sub-to-lineup-modal>
    <tiebreak-modal ng-if="showModalView.tiebreak"></tiebreak-modal>
    <change-password-modal ng-if="showModalView.changePassword"></change-password-modal>
</section>