#reset-password-form{
    position: relative;
    top: 120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: 5px;
}
#reset-password-form .logo{
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
#reset-password-form h3{
    margin-left: 35px;
    color: #2879ff;
    font-size: 28px;
}
#reset-password-form input{
    width: calc(100% - 100px);
    margin-top: 30px;
}
#reset-password-form .error{
    margin-top: 5px;
    margin-left: 40px;
}
#reset-password-form .buttons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 40px;
    margin-right: 35px;
}
#reset-password-form button.disabled{
    background-color: #a6a6a6;
    cursor: not-allowed;
}
@media(max-width: 680px){
    #reset-password-form h3{
        margin-left: 20px;
    }
    #reset-password-form .buttons{
        margin-right: 20px;
    }
}