<form id="download-participants-import-modal" ng-controller="downloadParticipantsImportModalController" ng-submit="downloadParticipantsImport()">
    <i class="exit-icon fa fa-times-circle-o" ng-click="toggleModal()"></i>
    <div class="title">
        Download Participant Event Response File Template
    </div>
    <div class="buttons">
        <button class="cancel-button" type="button" ng-click="toggleModal()">
            CANCEL
        </button>
        <button class="submit-button" type="submit" ng-class="{'disabled' : callInProgress}" ng-disabled="callInProgress">
            DOWNLOAD
            <span ng-show="callSuccess">
                &#10004;
            </span>
        </button>
    </div>
</form>