<form id="print-match-directions-modal" ng-controller="printMatchDirectionsModalController" ng-submit="generateMatchDirections()">
    <i class="exit-icon fa fa-times-circle-o" ng-click="toggleModal()"></i>
    <div class="title">
		Generate Match Directions for {{selectedEvent.name}}
    </div>
    <div class="input-section">
		<table>
			<tr>
				<th>
					Round
				</th>
				<th>
					Date
				</th>
				<th>
					Opponent
				</th>
				<th>
					Where
				</th>
			</tr>
			<tr ng-repeat="match in matches" ng-class-odd="'odd'" ng-class-even="'even'">
				<td class="col-one container">
					<input type="checkbox" id="checkbox{{match.round}}" value="{{match.value}}" ng-model="match.selected" ng-disabled="match.where !== 'A'" ng-click="resetPrintMatchDirectionsErrors()"><label for="checkbox{{match.round}}">{{match.round}}</label>
				</td>
				<td class="col-two">
					{{match.date}}
				</td>
				<td class="col-three">
					<pre>{{match.opponent}}</pre>
				</td>
				<td class="col-four">
					{{match.where}}
				</td>
			</tr>
		</table>
    	<div class="error" ng-show="showPrintMatchDirectionsErrors.noCheckbox">
			At least one checkbox must be selected
    	</div>
        <div class="select-container">
            <select required ng-model="printMatchDirectionsObject.size">
                <option value="small">
                    8.5" x 11"
                </option>
                <option value="medium">
                    8.5" x 14"
                </option>
                <option value="large">
                    8.5" x 11" (2 Sheets)
                </option>
            </select>
            <span class="label">
                Size
            </span>
        </div>
    </div>
    <div class="buttons">
        <button class="cancel-button" type="button" ng-click="toggleModal()">
            CANCEL
        </button>
        <button class="submit-button" type="submit" ng-class="{'disabled' : callInProgress}" ng-disabled="callInProgress">
            GENERATE
            <span ng-show="callSuccess">
                &#10004;
            </span>
        </button>
    </div>
</form>